.navbar {
  width: 100vw;
  height: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background: #863e00;
}

.footer {
  width: 100vw;
  height: 100%;

  display: flex;
  flex-direction: column;

  background: #863e00;
}

.navbar a {
  color: white;
}

.footer a {
  color: white;
}

.navbar-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-brand {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-top: 10px;
}

.navbar-items {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  margin-bottom: 10px;
  margin-left: 10px;
}

.navbar-icon {
  width: 30px;
  height: 30px;

  margin-left: 20px;
}

.footer-icon {
  width: 30px;
  height: 30px;

  margin-left: 10px;
}

.navbar-title {
  margin-left: 10px;
}

.footer-title {
  margin-left: 10px;
}

.footer-credit {
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.footer-credit a {
  color: #ff4bff;  
}

.navbar-item {
  margin-right: 30px;
}

.footer-item {
  margin-right: 30px;
  margin-top: 20px;
}

.sidenav-btn {
  margin-right: 20px;
  font-size: 25px;
  cursor: pointer;
}

.sidenav {
  height: 100vh;
  position: fixed;
  background: #863e00;
  z-index: 2;

  top: 0;
  right: 0;

  transition: width 0.5s ease;
  width: 0vw;
}

#sidenav.sidenav-expanded {
 width: 100vw; 
}

.sidenav-item {
  width: 100%;
  font-size: 7vw;
  color: white;
  margin-top: 40px;
  margin-left: 10px;
}

.sidenav-icon {
  width: 30px;
  height: 30px;

  margin-left: 10px;
}

.sidenav-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
  margin-bottom: 50px;
}

.sidenav-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.sidenav-logo-title {
  color: white;
  font-size: 5vw;

  margin-left: 10px;
}

.sidenav-close {
  color: red;
  font-size: 11vw;
  margin-right: 10px;
  cursor: pointer;
}


/* MOBILE */
@media (max-width: 840px) {
  .navbar-item {
    display: none;
  }   

  .footer-items {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-icon {
    margin-left: 10px;
  }

  .sidenav-btn {
    display: visible;
  }
}

/* DESKTOP */
@media (min-width: 840px) {
  .sidenav-btn {
    display: none;
  }
}
