body {  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 95%;

  font-size: 20px;

  margin-bottom: 50px;
}

.page-title {
  margin-top: 40px;
  margin-bottom: 30px;
}

.api-item {
  width: 90vw;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 60px;
  border: 2px solid gray;

  padding: 10px;
}

.request {
  min-height: 300px;
  width: 100%;

  border-bottom: 2px solid gray;
}

.response {
  min-height: 300px;
  width: 100%;
}

.endpoint {
  min-height: 60px;
  font-size: 35px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.request-description {
  min-height: 50px;

}

.request-body {
  min-height: 50px;
}

.header {
  display: flex;
  flex-direction: row;
}

.header-key {
  padding: 10px;
  width: 50%;

  border: 1px solid gray;
}

.header-value {
  padding: 10px;
  width: 50%;

  border: 1px solid gray;
}

h3 {
  margin-top: 20px;
}

h4 {
  margin-top: 20px;
  margin-bottom: 5px;
}

.response-item {
  border: 3px solid gray;
  padding: 10px;

  margin-top: 20px;
}