body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

pre {
	margin-top: 20px;
	margin-bottom: 20px;
	
	overflow-x: auto;
  width: 100%;
}

table {
  border-collapse: collapse;
  border: 2px solid gray;
}

tr {
  border: 2px solid gray;
}

td, th {
  text-align: left;
  padding: 8px;
  border: 2px solid gray;
}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;

  width: 100%;
  text-align: center;
}

h2 {
  margin-top: 60px;
  margin-bottom: 20px;

  width: 100%;
  text-align: center;
}

h3 {
  margin-top: 50px;
  margin-bottom: 10px;
}

h4 {
  margin-top: 40px;
  margin-bottom: 5px;
}

p { 
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 160%;
}

code {
  padding: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  
  background: #333;
  border-radius: 8px;
  max-width: 80vw;
}

.segment {
  width: 100%;
}

.content {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 95%;

  font-size: 20px;

  margin-bottom: 50px;
}
