
.content {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}


.title {
  margin-top: 80px;
  font-size: 50px;
}

.search-bar {
  margin-top: 50px;
}


.search-input {
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;

  padding: 12px 20px;

  width: 400px;
  font-size: 16px;
  border-radius: 4px;
}

.search-input:focus {
  background-color: lightblue;
}

.search-btn {
  background: #863e00;
  width: 100px;
  height: 50px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 20%;
  font-size: 20px;

  cursor: pointer;

  margin-top: 30px;
}

/* MOBILE */
@media (max-width: 840px) {
}

/* MOBILE */
@media (max-width: 570px) {
  .search-input {
    width: 80vw;
  }

  .title {
    font-size: 8vw;
  }
}

/* DESKTOP */
@media (min-width: 840px) {
}

