</div>

<div class="footer">
  <div class="footer-brand">
    <a href="/"><img class="footer-icon" src="/explorer/static/img/icon.png"\></a>
    <a href="/"><div class="footer-title"><b>SHOGGOTH</b></div></a>
  </div>

  <div class="footer-credit">Built and maintained by <a href="https://shog.ai">ShogAI</a></div>
  
  <div class="footer-items">
    <a href="/"><div class="footer-item"><b>Home</b></div></a>
    <a href="/explorer/stats"><div class="footer-item"><b>Stats</b></div></a>
    <a href="/explorer/docs"><div class="footer-item"><b>Documentation</b></div></a>
    <a href="/explorer/docs/api"><div class="footer-item"><b>API Reference</b></div></a>
    <a href="/explorer/docs#what-is-shoggoth"><div class="footer-item"><b>What is Shoggoth?</b></div></a>
  </div>
</div>

</body>
</html>
