 <!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta name="description" content="{{description}}" />
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="{{url}}" />
  <meta property="twitter:title" content="{{title}}" />
  <meta property="twitter:description" content="{{description}}" />
  <meta property="twitter:image" content="{{og_url}}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{url}}" />
  <meta property="og:title" content="{{title}}" />
  <meta property="og:description" content="{{description}}" />
  <meta property="og:image" content="{{og_url}}" />
  <meta property="og:image:width" content="2400" />
  <meta property="og:image:height" content="1200" />

  <link rel="apple-touch-icon" sizes="180x180" href="/explorer/static/img/icon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/explorer/static/img/icon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/explorer/static/img/icon/favicon-16x16.png">
  <link rel="manifest" href="/explorer/static/img/icon/site.webmanifest">

  <link rel="stylesheet" href="/explorer/static/main.css" />
  <link rel="stylesheet" href="/explorer/static/nav.css" />
  
  <script src="/explorer/static/main.js"></script>
  
  {{#if is_api}}
  <link rel="stylesheet" href="/explorer/static/docs/api.css" />
  <script src="/explorer/static/docs/api.js"></script>
  {{/if}}
  
  {{#if is_docs}}
  <link rel="stylesheet" href="/explorer/static/docs/docs.css" />
  <script src="/explorer/static/docs/docs.js"></script> 
  {{/if}} 
  
  {{#if is_explorer}}
  <link rel="stylesheet" href="/explorer/static/explorer/explorer.css" />
  <script src="/explorer/static/explorer/explorer.js"></script>
  {{/if}} 

  {{#if is_stats}}
  <link rel="stylesheet" href="/explorer/static/stats/stats.css" />
  <script src="/explorer/static/stats/stats.js"></script>
  {{/if}}

  {{#if is_profile}}
  <link rel="stylesheet" href="/explorer/static/profile/profile.css" />
  <script src="/explorer/static/profile/profile.js"></script>
  {{/if}}
  
  {{#if is_profile}}
  {{#if !is_docs}} 
  <link rel="stylesheet" href="/explorer/static/docs/highlightjs/styles/agate.min.css">
  <script src="/explorer/static/docs/highlightjs/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>
  {{/if}}
  {{/if}}

  {{#if is_docs}}
  {{#if !is_profile}} 
  <link rel="stylesheet" href="/explorer/static/docs/highlightjs/styles/agate.min.css">
  <script src="/explorer/static/docs/highlightjs/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>
  {{/if}}
  {{/if}}


</head>


<body>

<div class="navbar">
  <div class="navbar-brand">
    <a href="/"><img class="navbar-icon" src="/explorer/static/img/icon.png"\></a>
    <a href="/"><div class="navbar-title"><b>SHOGGOTH</b></div></a>
  </div>

  <div class="navbar-items">
    <a href="/"><div class="navbar-item"><b>Home</b></div></a>
    <a href="/explorer/stats"><div class="navbar-item"><b>Stats</b></div></a>
    <a href="/explorer/docs"><div class="navbar-item"><b>Documentation</b></div></a>
    <a href="/explorer/docs/api"><div class="navbar-item"><b>API Reference</b></div></a>
    <a href="/explorer/docs#what-is-shoggoth"><div class="navbar-item"><b>What is Shoggoth?</b></div></a>
  </div>

  <div class="sidenav-btn" onclick="open_sidenav()">
    &#9776;
  </div>
</div>

<div class="sidenav" id="sidenav">
<div class="sidenav-menu">
  <a href="/" class="sidenav-logo">
  <img class="sidenav-icon" src="/explorer/static/img/icon.png"\>
  <div class="sidenav-logo-title"><b>SHOGGOTH</b></div>
  </a>
  
  <div onclick="close_sidenav()" class="sidenav-close"><b>&times</b></div>
</div>
<a href="/" onclick="close_sidenav()"><div class="sidenav-item">Home</div></a>
<a href="/explorer/stats" onclick="close_sidenav()"><div class="sidenav-item">Stats</div></a>
<a href="/explorer/docs" onclick="close_sidenav()"><div class="sidenav-item">Documentation</div></a>
<a href="/explorer/docs/api" onclick="close_sidenav()"><div class="sidenav-item">API Reference</div></a>
<a href="/explorer/docs#what-is-shoggoth" onclick="close_sidenav()"><div class="sidenav-item">What is Shoggoth?</div></a>
</div>




<div class="content">

