<div class="table-of-contents" id="table-of-contents">
<h2>Table of Contents</h2>
<ul>
<li><a href="#what-is-shoggoth">What is Shoggoth?</a></li>

<li><a href="#installation">Installation</a></li>
<ul>
    <li><a href="#download-precompiled-binaries">Download Precompiled Binaries</a></li>
    <li><a href="#build-from-source">Build from Source</a></li>
    <li><a href="#download-the-source-code">Download the Source Code</a></li>
    <li><a href="#build-with-make">Build with make</a></li>
</ul>

<li><a href="#concepts">Concepts</a></li>
<ul>
    <li><a href="#shoggoth-resources">Resources</a></li>
    <li><a href="#shoggoth-nodes">Nodes</a></li>
    <li><a href="#resource-pinning">Resource Pinning</a></li>
    <li><a href="#public-and-private-keys">Public and Private Keys</a></li>
</ul>

<li><a href="#how-to-use-shoggoth">How to use Shoggoth</a></li>

<li><a href="#how-does-shoggoth-work">How does Shoggoth work?</a></li>
<ul>
    <li><a href="#nodes">Nodes</a></li>
    <li><a href="#persistence">Persistence</a></li>
</ul>

<li><a href="#configuration">Configuration</a></li>

<li><a href="#api">Node HTTP API</a></li>

<li><a href="#explorer">Shoggoth Explorer</a></li>

<li><a href="#exposing-a-shoggoth-node-to-the-internet">Exposing a Shoggoth Node to the Internet</a></li>

<li><a href="#system-requirements">System Requirements</a></li>

<li><a href="#contributing">Contributing to Shoggoth</a></li>

<li><a href="#faq">Frequently Asked Questions</a></li>

<li><a href="#dependencies">Dependencies</a></li>

<li><a href="#donate">Donate/Sponsor Shoggoth</a></li>
</ul>

<div class="scroll-to-top">
    <a href="#top">Back to Top</a>
</div>
</div>
