.main-content {
  align-items: flex-start;
  overflow-y: auto;
}

.settings-title {
  width: 100%;
  font-size: 27px;
  font-weight: bold;

  margin-top: 45px;
  margin-left: 10px;
}

.settings-subtitle {
  width: 100%;
  font-size: 20px;

  margin-top: 10px;
}

.side-btn {
  width: 80%;
  height: 40px;
  border-radius: 8px;
  background: #2f2f2f;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  margin-top: 30px;
}

.side-btn-icon {
  width: 25px;
  height: 25px;
  margin-right: 13px;
}

.side-items {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.settings-item {
  width: 90%;
  margin-top: 20px;
  margin-left: 10px;
}

.settings-textarea {
  background: none;
  width: 600px;
  color: white;
  margin-top: 10px;
  font-size: 19px;
  padding: 10px;
  border: 1px solid gray;
}

.settings-input {
  background: none;
  width: 600px;
  color: white;
  font-size: 19px;
  padding: 6px;

  margin-top: 10px;

  border: 1px solid gray;
}

.function-btn {
  margin-left: 20px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.function-btn-first {
  margin-left: 10px;
}

.save-btn {
  margin-top: 20px;
  margin-left: 10px;
}

.functions {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.functions-title {
  margin-bottom: 10px;
}

.metrics-toggle {
  margin-top: 10px;
}




.checkbox-wrapper-7 .tgl {
  display: none;
}
.checkbox-wrapper-7 .tgl,
.checkbox-wrapper-7 .tgl:after,
.checkbox-wrapper-7 .tgl:before,
.checkbox-wrapper-7 .tgl *,
.checkbox-wrapper-7 .tgl *:after,
.checkbox-wrapper-7 .tgl *:before,
.checkbox-wrapper-7 .tgl + .tgl-btn {
  box-sizing: border-box;
}
.checkbox-wrapper-7 .tgl::-moz-selection,
.checkbox-wrapper-7 .tgl:after::-moz-selection,
.checkbox-wrapper-7 .tgl:before::-moz-selection,
.checkbox-wrapper-7 .tgl *::-moz-selection,
.checkbox-wrapper-7 .tgl *:after::-moz-selection,
.checkbox-wrapper-7 .tgl *:before::-moz-selection,
.checkbox-wrapper-7 .tgl + .tgl-btn::-moz-selection,
.checkbox-wrapper-7 .tgl::selection,
.checkbox-wrapper-7 .tgl:after::selection,
.checkbox-wrapper-7 .tgl:before::selection,
.checkbox-wrapper-7 .tgl *::selection,
.checkbox-wrapper-7 .tgl *:after::selection,
.checkbox-wrapper-7 .tgl *:before::selection,
.checkbox-wrapper-7 .tgl + .tgl-btn::selection {
  background: none;
}
.checkbox-wrapper-7 .tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.checkbox-wrapper-7 .tgl + .tgl-btn:after,
.checkbox-wrapper-7 .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.checkbox-wrapper-7 .tgl + .tgl-btn:after {
  left: 0;
}
.checkbox-wrapper-7 .tgl + .tgl-btn:before {
  display: none;
}
.checkbox-wrapper-7 .tgl:checked + .tgl-btn:after {
  left: 50%;
}

.checkbox-wrapper-7 .tgl-ios + .tgl-btn {
  background: #fbfbfb;
  border-radius: 2em;
  padding: 2px;
  transition: all 0.4s ease;
  border: 1px solid #e8eae9;
}
.checkbox-wrapper-7 .tgl-ios + .tgl-btn:after {
  border-radius: 2em;
  background: #fbfbfb;
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
}
.checkbox-wrapper-7 .tgl-ios + .tgl-btn:hover:after {
  will-change: padding;
}
.checkbox-wrapper-7 .tgl-ios + .tgl-btn:active {
  box-shadow: inset 0 0 0 2em #e8eae9;
}
.checkbox-wrapper-7 .tgl-ios + .tgl-btn:active:after {
  padding-right: 0.8em;
}
.checkbox-wrapper-7 .tgl-ios:checked + .tgl-btn {
  background: #86d993;
}
.checkbox-wrapper-7 .tgl-ios:checked + .tgl-btn:active {
  box-shadow: none;
}
.checkbox-wrapper-7 .tgl-ios:checked + .tgl-btn:active:after {
  margin-left: -0.8em;
}

